/*Estou focando na funcionalidade do código JS primeiro. Caso haja tempo apos o termino da tarefa de CSS
Melhorarei a responsividade desse site.
*/

.main-window-container{
    position: absolute;

    max-width: 960px;
    max-height: 470px;
    height: 100%;
    width: 100%;

    border: solid 1px gray;
}

.header-container{
    background-color: #222;
    color: #fff;
    padding: 1em;
}

.sent-message-container{
    height: 25%;
    overflow: auto;
}

.input-container{
    position: absolute;
    left: 15%;
    top: 60%;

    width: 60%;
    height: 40%;

    background-color: aliceblue;
}

.input-box{
    height: 80%;
    width: 80%;
    
    margin: 0.5em;
}

.send-btn{
    background-color: #8490d1;
    border-radius: 10%;
}

.sent-message{
    padding: 0.25em;
    border: 1px solid #222;
    margin: 0.25em;
    list-style-type: none;
}
